<?php
/**
 * @author Patsura Dmitry http://github.com/ovr <talk@dmtry.me>
 */

Class Config
{
    protected $applicationPath;

    public function __construct($applicationPath)
    {
        $this->applicationPath = $applicationPath;
    }

    public function toArray()
    {
        return array(
            'ovr' => array(
                'phalcon-module-skeleton' => array(
                    'secret' => '',
                    'callback' => function() {
                        system('cd ./../../');
                    }
                )
            )
        );
    }
}
